[build]
command = "npm ci && npm run build"
publish = "dist"

[build.environment]
  NODE_VERSION = "18"

[functions]
directory = "netlify/functions"

[[redirects]]
from = "/api/auth/login_otp"
to = "/.netlify/functions/auth"
status = 200

[[redirects]]
from = "/api/rc/rc_verify"
to = "/.netlify/functions/rc"
status = 200

[[redirects]]
from = "/api/auth/verify_otp"
to = "/.netlify/functions/verify-otp"
status = 200

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"
